body.loaded {
    background-image: url('../images/2024+06+27+-+Julian+-+main+capsules.png');
    background-size: 100% 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}